.ProjectCard {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  width: 460px;
  min-height: 400px;
  background: var(--bg-secondary);
  transition: transform 0.3s ease;
  transform: scale(0.98);
  color: var(--text-secondary);

  &:hover {
    transform: scale(1);
  }
}

.ProjectCard-top {
  width: 100%;
  height: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ProjectCard-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  gap: 12px;
  padding: 20px;
}

.ProjectCard-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-secondary);
  margin: 0;
}

.ProjectCard-desc {
  font-size: 13px;
  line-height: 1.6;
  margin: 0;
}

.ProjectCard-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.ProjectCard-tag {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-secondary);
  background: var(--bg-quaternary);
  padding: 4px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
    opacity: .5;
  }
}

.ProjectCard-cta {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 4px;
  align-self: flex-end;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}

.ProjectCard-link-icon {
  width: 12px;
  filter: invert(1);
}

body.light .ProjectCard-link-icon {
  filter: invert(0);
}

@media (max-width: 768px) {
  .ProjectCard {
    width: 100%;
    max-width: 360px;
    transform: scale(1);

    &:hover {
      transform: scale(1);
    }
  }
}