.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: var(--bg-primary);
}

.HomeContent {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  width: 80vw;
  min-height: 100vh;
  gap: 60px;
}

.HomeLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-primary);
    opacity: 0.9;
    margin: 0;
  }

  .btn-download {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    padding: 1em 5em;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: fit-content;
  }
  .btn-download:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.705);
  }
}

.HomeRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeRight img {
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .HomeContent {
    flex-direction: column;
    padding: 60px 30px;
    text-align: center;
  }

  .HomeLeft {
    align-items: center;
  }

  .HomeLeft h1 {
    font-size: 2rem;
  }

  .HomeLeft p {
    font-size: 1.2rem;
  }

  .HomeRight img {
    max-width: 300px;
  }
}
