#light {
    background-color: #F2F2F2;

    .infos {
        border-bottom: solid 1px #5727A3;
    }

    p {
        color: #000;
    }

    h1 {
        color: #5727A3;
    }

    .card {
        background-color: #FFF;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border: none;

        .card__content {
            .card__title {
                color: #222222;
            }
        }

        .card__footer {
            .card__tags {
                .card__tag {
                    background: #1a1a1a;
                    color: #e0e0e0;
                }

                .card__tag:hover {
                    background: #9153f49f;
                    color: #000000;
                    border-color: #6528c9;
                }
            }
        }
    }

    .card:hover {
        border-color: #1a1a1a;
    }

    .header {
        color: #000;
        background-color: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);


        .hamburger div {
            background-color: #000;
        }

        .nav-link:hover {
            color: #5727A3;
        }

        .nav-links.open {
            color: #000000;
            background: rgba(189, 187, 187, 0.281);
            /* Escurece um pouco o fundo */
        }
    }
}


body {
    background-color: #1E1E1E;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .page1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        align-items: center;


        .infos {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 85%;
            height: 90%;
            border-bottom: solid 1px #FFFFFF;


            .infos-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 20vh;

                .l1,
                .l2,
                .l3,
                .l4 {
                    color: #fff;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                }

                .l1 {
                    font-family: 'Poppins-Regular';
                    font-size: 18px;
                }

                .l2 {
                    font-family: 'Poppins-Bold';
                    font-size: 40px;
                    color: #9153F4;
                }

                .l3 {
                    font-family: 'Poppins-Medium';
                    font-size: 30px;

                    span {
                        color: #9153F4;
                    }
                }

                .l4 {
                    font-family: 'Poppins-Regular';
                    font-size: 18px;
                }

                @media (max-width: 768px) {
                    height: fit-content;
                    gap: 15px;



                    .l2 {
                        font-size: 32px;
                    }

                    .l3 {
                        font-size: 24px;
                    }
                }

                @media (max-width: 480px) {
                    .l1 {
                        font-size: 16px;
                    }

                    .l2 {
                        font-size: 28px;
                    }

                    .l3 {
                        font-size: 20px;
                    }

                    .l4 {
                        font-size: 16px;
                    }
                }
            }

            .cv-button {
                width: 15vw;
                height: 8vh;
                background-color: #9153F4;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                font-family: 'Poppins-Medium';
                font-size: 20px;
                color: #FFFFFF;
                transition: 0.2s;
            }

            .cv-button:hover {
                background-color: #5727a3;
                box-shadow: 5px 5px #000 !important;
                border-radius: 20px;
            }

            @media (max-width: 768px) {
                .cv-button {
                    width: 30vw;
                    height: 7vh;
                    font-size: 18px;
                }

            }

            @media (max-width: 480px) {
                .cv-button {
                    width: 50vw;
                    height: 6vh;
                    font-size: 16px;

                }


            }
        }
    }

    .page2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100%;

        .about {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 85%;

            .left {
                display: flex;
                flex-direction: column;
                justify-content: Center;
                width: 55vw;

                .p2-tittle {
                    font-family: 'Poppins-Bold';
                    font-size: 32px;
                    color: #FFFFFF;
                    margin: 0%;
                    padding: 0;
                    line-height: 1;
                }

                .p2-text {
                    font-family: 'Poppins-Regular';
                    font-size: 16px;
                    text-align: justify;
                    color: #FFFFFF;
                }
            }

            .right {
                width: 20vw;

                img {
                    width: 100%;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                gap: 30px;

                .left {
                    width: 100%;

                    .p2-tittle {
                        font-size: 32px;
                        margin-bottom: 10px;
                    }

                    .p2-text {
                        font-size: 18px;
                    }
                }

                .right {
                    width: 50vw;
                }
            }

            @media (max-width: 480px) {
                .left {
                    .p2-tittle {
                        font-size: 28px;
                    }

                    .p2-text {
                        font-size: 16px;
                    }
                }

                .right {
                    width: 70vw;
                }
            }
        }

        .techs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 25%;
            width: 85%;

            .tech-tittle {
                font-family: 'Poppins-Bold';
                color: #FFFFFF;
                font-size: 32px;
                margin: 0%;
                padding: 0;
                line-height: 1
            }

            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    width: 6vw;
                    height: 8vh;
                }
            }

            @media (max-width: 768px) {
                height: auto;
                gap: 20px;

                .tech-tittle {
                    font-size: 32px;
                }

                .icons {
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center;

                    img {
                        width: 10vw;
                        height: 6vh;
                    }
                }
            }

            @media (max-width: 480px) {
                .tech-tittle {
                    font-size: 28px;
                }

                .icons {
                    img {
                        width: 15vw;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            height: auto;
            padding: 50px 0;
            gap: 50px;
        }
    }

    .page3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 10vh;
        align-items: center;

        .p3 {
            display: flex;
            flex-direction: column;
            width: 85%;

            .p3-tittle {
                line-height: 1;
                width: 85%;

                h1 {
                    font-family: 'Poppins-Bold';
                    font-size: 32px;
                    color: #FFFFFF;
                }
            }

            .projetos {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 40px 50px;
                /* pode ajustar */
            }

            @media (max-width: 768px) {
                .p3-tittle {
                    font-size: 32px;
                }

                .projetos {
                    gap: 7vh;
                }
            }

            @media (max-width: 480px) {
                .p3-tittle {
                    font-size: 28px;
                }

                .projetos {
                    gap: 5vh;
                }
            }
        }
    }

    .page4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
        width: 100%;

        .pg4-tittle {
            .tittle {
                font-family: 'Poppins-Bold';
                color: #ffffff;
                font-size: 32px;
            }
        }

        .pg4-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 25vw;

            img {
                height: 6vh;
                cursor: pointer;
                transition: transform 0.3s ease;


                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .assinatura {
            p {
                font-family: 'Poppins-Medium';
                font-size: 20px;
                color: #FFF;
            }

            p::after {
                font-family: 'Poppins-Bold';
                content: "Davi Oliveira Brito";
            }
        }

        @media (max-width: 768px) {
            height: auto;
            padding: 40px 0;
            gap: 30px;

            .pg4-tittle {
                .tittle {
                    font-size: 32px;
                }
            }

            .pg4-icons {
                width: 50vw;

                img {
                    height: 5vh;
                }
            }

            .assinatura {
                p {
                    font-size: 20px;
                }
            }
        }

        @media (max-width: 480px) {
            .pg4-tittle {
                .tittle {
                    font-size: 28px;
                }
            }

            .pg4-icons {
                width: 70vw;

                img {
                    height: 4vh;
                }
            }

            .assinatura {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}