#light {
    background-color: #FFFFFF;

    .infos {
        border-bottom: solid 1px #000000;
    }

    p {
        color: #000;
    }

    h1 {
        color: #5727A3;
    }

    .project{
        background-color: #d0b8f7;
        
        .button p{color: #FFFFFF;}

    }

    .header{
        color: #000000;
        background-color: #9153f421;

        .hamburger div{
            background-color: #000;
        }
        .nav-link:hover {
        color: #5727A3;
        }
    }
}


body {
    background-color: #1E1E1E;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .page1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        align-items: center;


        .infos {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 85%;
            height: 90%;
            border-bottom: solid 1px #FFFFFF;


            .infos-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 20vh;

                .l1,
                .l2,
                .l3,
                .l4 {
                    color: #fff;
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                }

                .l1 {
                    font-family: 'Poppins-Regular';
                    font-size: 18px;
                }

                .l2 {
                    font-family: 'Poppins-Bold';
                    font-size: 40px;
                    color: #9153F4;
                }

                .l3 {
                    font-family: 'Poppins-Medium';
                    font-size: 30px;

                    span {
                        color: #9153F4;
                    }
                }

                .l4 {
                    font-family: 'Poppins-Regular';
                    font-size: 18px;
                }

                @media (max-width: 768px) {
                    height: fit-content;
                    gap: 15px;



                    .l2 {
                        font-size: 32px;
                    }

                    .l3 {
                        font-size: 24px;
                    }
                }

                @media (max-width: 480px) {
                    .l1 {
                        font-size: 16px;
                    }

                    .l2 {
                        font-size: 28px;
                    }

                    .l3 {
                        font-size: 20px;
                    }

                    .l4 {
                        font-size: 16px;
                    }
                }
            }

            .cv-button {
                width: 15vw;
                height: 8vh;
                background-color: #9153F4;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                font-family: 'Poppins-Medium';
                font-size: 20px;
                color: #FFFFFF;
                transition: 0.2s;
            }

            .cv-button:hover {
                background-color: #5727a3;
                box-shadow: 5px 5px #000 !important;
                border-radius: 20px;
            }

            @media (max-width: 768px) {
                .cv-button {
                    width: 30vw;
                    height: 7vh;
                    font-size: 18px;
                }

            }

            @media (max-width: 480px) {
                .cv-button {
                    width: 50vw;
                    height: 6vh;
                    font-size: 16px;

                }


            }
        }
    }

    .page2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100%;

        .about {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 85%;

            .left {
                display: flex;
                flex-direction: column;
                justify-content: Center;
                width: 55vw;

                .p2-tittle {
                    font-family: 'Poppins-Bold';
                    font-size: 40px;
                    color: #FFFFFF;
                    margin: 0%;
                    padding: 0;
                    line-height: 1;
                }

                .p2-text {
                    font-family: 'Poppins-Regular';
                    font-size: 20px;
                    color: #FFFFFF;
                }
            }

            .right {
                width: 23vw;

                img {
                    width: 100%;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                gap: 30px;

                .left {
                    width: 100%;

                    .p2-tittle {
                        font-size: 32px;
                        margin-bottom: 10px;
                    }

                    .p2-text {
                        font-size: 18px;
                    }
                }

                .right {
                    width: 50vw;
                }
            }

            @media (max-width: 480px) {
                .left {
                    .p2-tittle {
                        font-size: 28px;
                    }

                    .p2-text {
                        font-size: 16px;
                    }
                }

                .right {
                    width: 70vw;
                }
            }
        }

        .techs {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 25%;
            width: 85%;

            .tech-tittle {
                font-family: 'Poppins-Bold';
                color: #FFFFFF;
                font-size: 40px;
                margin: 0%;
                padding: 0;
                line-height: 1
            }

            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    width: 6vw;
                }
            }

            @media (max-width: 768px) {
                height: auto;
                gap: 20px;

                .tech-tittle {
                    font-size: 32px;
                }

                .icons {
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center;

                    img {
                        width: 10vw;
                    }
                }
            }

            @media (max-width: 480px) {
                .tech-tittle {
                    font-size: 28px;
                }

                .icons {
                    img {
                        width: 15vw;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            height: auto;
            padding: 50px 0;
            gap: 50px;
        }
    }

    .page3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 10vh;

        .p3 {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .p3-tittle {
                line-height: 1;
                width: 85%;

                h1 {
                    font-family: 'Poppins-Bold';
                    font-size: 40px;
                    color: #FFFFFF;
                }
            }

            .projetos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 85%;
                height: 100%;
                gap: 10vh;
            }

            @media (max-width: 768px) {
                .p3-tittle {
                    font-size: 32px;
                }

                .projetos {
                    gap: 7vh;
                }
            }

            @media (max-width: 480px) {
                .p3-tittle {
                    font-size: 28px;
                }

                .projetos {
                    gap: 5vh;
                }
            }
        }
    }

    .page4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
        width: 100%;

        .pg4-tittle {
            .tittle {
                font-family: 'Poppins-Bold';
                color: #ffffff;
                font-size: 40px;
            }
        }

        .pg4-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 25vw;

            img {
                height: 6vh;
                cursor: pointer;
                transition: transform 0.3s ease;


                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .assinatura {
            p {
                font-family: 'Poppins-Medium';
                font-size: 25px;
            }

            p::after {
                font-family: 'Poppins-Bold';
                content: "Davi Oliveira Brito";
            }
        }

        @media (max-width: 768px) {
            height: auto;
            padding: 40px 0;
            gap: 30px;

            .pg4-tittle {
                .tittle {
                    font-size: 32px;
                }
            }

            .pg4-icons {
                width: 50vw;

                img {
                    height: 5vh;
                }
            }

            .assinatura {
                p {
                    font-size: 20px;
                }
            }
        }

        @media (max-width: 480px) {
            .pg4-tittle {
                .tittle {
                    font-size: 28px;
                }
            }

            .pg4-icons {
                width: 70vw;

                img {
                    height: 4vh;
                }
            }

            .assinatura {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}