.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  height: 20px;
  width: 35px;
  transform: scale(1.5);

}


.label .ball {
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 3px;
  height:18px;
  width: 18px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(12px);
  background-color: #111;
}
.checkbox:checked + .label{
  background-color: #dddcdc;
}
