/* Estilização geral do header */
.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 1vh 5vh;
    height: 8vh;
    width: 100%;
    position: fixed;
    background-color: #1a1a1a;
    z-index: 100;

    .test {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1vh 5vh;
        height: fit-content;
        width: 65%;
        position: fixed;

    }

}


/* Estilização do menu hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 101;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

/* Quando o menu está aberto, transforma o hambúrguer em "X" */
.hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
    display: none;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Esconde menu no mobile por padrão */
.nav-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    height: fit-content;
    width: 70%;
}

.nav-link {
    font-family: 'Poppins-Medium';
    line-height: 1;

}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    
    .nav-links {
        display: none;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background-color: #1a1a1a;
        text-align: center;
        padding: 10px 0;
    }
    
    /* Mostra o menu quando está ativo */
    .nav-links.open {
        border: solid;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30vh;
        width: 60vw;
        align-items: center;
        border-radius: 20px;

        margin:0 ;
        padding: 0;
        line-height: 0;
    }
}