.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: var(--bg-primary);

  .ProjectsContent {
    color: var(--text-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 60px 80px 60px;
    width: 100%;
    max-width: 65vw;
    min-height: 100vh;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .Projects {
    .ProjectsContent {
      max-width: 100vw;
      padding: 120px 24px 60px 24px;
      align-items: center;
      gap: 32px;

      h1 {
        font-size: 1.6rem;
      }
    }
  }
}